* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

body {
    width: 28vw;
    border: 2px solid #10b410;
}


div img {
    margin: 15px 10px;
    border-radius: 15%;
    width: 50px;
    display: inline-block;
}

nav {
    border-bottom: 2px solid #2bbb26;
}

nav p {
    text-align: center;
    padding: 5px 10px 5px 0px;
    color: #FFFFFF;
    width: 27.1vw;
    background: #075E54;
}

nav h4 {
    padding: 20px 0px 20px 10px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight:center;
    width: 27.1vw;
    background: rgb(140, 18, 93);
}

.menu {
    border-right: 2px solid #0aac40;
    list-style-type: none;
    background: rgb(103, 140, 18);
    width: 28vw;
    margin: 0px;
    padding: 0px;
}

.menu li {
    display:inline-flex ;
}

.menu li a {
    font-size: 15px;
    text-decoration: none;
    color: rgba(163, 26, 26, 0.5);
    padding: 10px 21px;
    display: inline-block;
    box-shadow: 0px 2px 0px #1ba358;
}

.menu li a:hover {
    box-shadow: 0px 2px 0px #ffffff;
    color: #ffffff;
}

.caja {
    display: block;
    background: #ECE5DD;
}

span h4 {
    display: inline;
}

span p {
    color: rgba(13, 165, 51, 0.5);
    text-align: left;
}

span span>p {
    display: inline-block;
    padding-left: 40px;
    padding-right: 10px;
    color: rgb(211, 37, 167);
}

span h4,
span span p,
span p {
    position: relative;
    bottom: 65px;
    left: 80px;
}

hr {
    position: relative;
    bottom: 50px;
    margin-right: 60px;
    margin-left: 20%;
    margin-top: 20px;
}

.abajo {
    flex-direction: row;
    margin-bottom: -320px;
}

.moving {
    position: relative;
    bottom: 60px;
}

.moving2 {
    position: relative;
    bottom: 120px;
}

.moving3 {
    position: relative;
    bottom: 180px;
}

.moving4 {
    position: relative;
    bottom: 240px;
}

.moving5 {
    position: relative;
    bottom: 300px;
}
