*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
   
}
nav{
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
}
nav ul{
    list-style: none;
}
nav > ul{
    display: table;
    overflow: hidden;
    width: 75%;
    background:green;
    position: relative;
}
nav > ul li {
    display: table-cell;

}
nav > ul > li> ul {
    display: none;

}
nav > ul li a {
    color:#fff;
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration:none;
     

}