@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*reset */
*{
    margin:0;
    padding: 0;
}
body{
    margin: 10%;
    padding: 10%;
   font-family: 'Trebuchet MS',
}
a { 
    text-decoration:none;
}
.fullscreen {
    width: 80vw;
    height: 100vh;
}
ul {
   
   margin: 15px;
    padding:10px;
    text-decoration: none;
    
}

/* agregar fondo*/
section#principal{
    height: 200vh;
    background-image: url(imagen1.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: right;
   
}

