@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*reset */
*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Montserrat',
    sans-serif;
}
a { 
    text-decoration:none;
}
.fullscreen {
    width: 100vw;
    height: 100vh;
}
h1, h2, h3, h4, h5 {
   font-family: 'Lato',
   sans-serif;
}

/* agregar fondo*/
section#principal{
    height: 200vh;
    background-image: url(imagen1.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: right;
}
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}
