/* reset */
* {
    margin: 0;
    padding: 0;
}
/* Quitar el subrayado a los enlaces */
a{
    text-decoration: none;
}
/*Cambiar fuente*/
body{
    font-family: Arial, 
}
/*estilo para el nav*/
nav{
    background:#3F85DF;
    width: 400px;
    height: 75vh;
}

/*estilo para nav*/
nav h1, a {
color:white;
font-size :36px;
}

nav ul li  {
    background:rgba(233, 30, 995, 0.5);
    margin-top: 10px;
    margin-bottom:10px;
    margin-left:0px;
    margin-right:0px;

    padding-top:15px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:30px;

    border: solid 1px cadetblue

}

nav h1 {
    padding-top:30px;
    padding-bottom:20px;
    padding-left:30px;
    padding-right:0px;

    font-weight: normal;

}
